<div class="page-header">
  <%= link_to new_question_path, :class => 'btn btn-primary' do %>
    <i class="icon-plus icon-white"></i>
    Ask a Question
  <% end %>
  <h1>Listing questions</h1>
</div>

<% @questions.each do |question| %>
  <div class="well">
    <h3><%= question.text %></h4>
    <p>
      <%= question.answer.text %>
    </p>
    <small>Submitted by: <%= question.submitted_by %></small>
  </div>
<% end %>
